@font-face {
   font-family: 'OpenSans';
   src: url('font/OpenSans-Regular-webfont.woff') format('woff');
   src: url('font/OpenSans-Regular-webfont.ttf') format('truetype');
}

@font-face {
   font-family: 'OpenSansBold';
   src: url('font/OpenSans-Bold-webfont.woff') format('woff');
   src: url('font/OpenSans-Bold-webfont.ttf') format('truetype');
   font-weight: 100;
}

body, html, .HowTo {
   font-family: 'OpenSans';
   width: 100%;
   height: 100%;
   margin: 0;
   bottom: 0;
   background-image: url('img/tile.png');
   background-color: #411F15;
   color: #eee;
   cursor: default;
   position: fixed;
   overflow-y: hidden;
}

#grad, #grad_ht {
   margin: 0;
   position: fixed;
   padding: 0;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   overflow: hidden;
   z-index: 0;
}

#grad {
   /* Safari 5.1 to 6.0 */
   background: -webkit-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
   /* For Opera 11.6 to 12.0 */
   background: -o-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
   /* For Firefox 3.6 to 15 */
   background: -moz-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
   /* Standard syntax */
   background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

#grad_ht {
   /* Safari 5.1 to 6.0 */
   background: -webkit-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
   /* For Opera 11.6 to 12.0 */
   background: -o-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
   /* For Firefox 3.6 to 15 */
   background: -moz-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
   /* Standard syntax */
   background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#field, #menu {
   /*height: 100%;*/
   /*width: 100%;*/
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

svg {
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}

svg text {
   -webkit-text-shadow: 0 2px 1px rgba(0, 0, 0, .3);
   -moz-text-shadow: 0 2px 1px rgba(0, 0, 0, .3);
   text-shadow: 0 2px 1px rgba(0, 0, 0, .3);
}

svg#menu text {
   -webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, .35);
   -moz-text-shadow: 0 2px 3px rgba(0, 0, 0, .35);
   text-shadow: 0 2px 3px rgba(0, 0, 0, .35);
}

/* HOW TO */

@keyframes fadefrombottom {
   0% {
      opacity: 0;
      transform: translateY(100%);
   }
   , 100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes fadefromleft {
   0% {
      opacity: 0;
      transform: translateX(-100%);
   }
   , 100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes fadefromright {
   0% {
      opacity: 0;
      transform: translateX(100%);
   }
   , 100% {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes fadefromtop {
   0% {
      opacity: 0;
      transform: translateY(-100%);
   }
   , 100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes fadein {
   0% {
      opacity: 0;
   }
   , 100% {
      opacity: 1;
   }
}

@keyframes fadeout {
  100% {
    opacity: 0;
  }
}

@keyframes fadetoright {
   100% {
      transform: translateX(150%);
   }
}

/*@keyframes wobbly {
    50%  {bottom: 10px;}
    100% {bottom: 0px;}
}*/

#scroll_hint {
   position: absolute;
   z-index: 2;
   width: 25%;
   min-width: 200px;
   margin: 3%;
   bottom: 0;
   right: 0;
   /*animation: wobbly 1.5s 2;*/
   animation: fadefrombottom 1.5s ease-out;
}

#scroll_hint.hidden {
   transform: translateY(250px);
   transition: all .4s;
   opacity: 0;
}

.HowTo {
   position: fixed;
   margin: 0 0;
   padding: 0px;
   z-index: 1001;
   overflow-y: scroll;
   overflow-x: hidden;
   text-align: justify;
   text-shadow: 0 2px 3px rgba(0, 0, 0, .8);
   background-color: #411F15;
   top: 0px;
}

.HowTo.active {
   display: block;
}

.HowTo.hidden {
   display: none;
}

.HowTo.inactive {
   animation: fadeout 1s;
}

#HT1.active {
   display: block;
   animation: fadein .8s ease;
}

.HowTo img {
   position: absolute;
   left: 50%;
   height: 300px;
   transform: translate(-55%, 0);
   margin-top: 20px;
}

.HowTo.active img {
   animation: fadefromleft .8s ease;
}

.HowTo.inactive img {
   animation: fadefromleft .8s ease;
   animation-direction: reverse;
}

.HowTo h1, .HowTo p {
   position: relative;
   top: 45%;
   margin: 0 20% 0 18%;
   padding: 8px 12px;
}

.HowTo h1 {
  color: #f8b71b;
  font-size: 2.1em;
  transform: rotate(-3deg);
}

.HowTo p {
  margin-top: 20px;
  font-size: .95em;
   padding-bottom: 100px;
}

.HowTo a, .HowTo a:link, .HowTo a:visited  {
   color: #f8b71b;
   text-decoration: none;
   font-weight: bold;
}

.HowTo a:hover {
   color: #f8d75b;
}

.HowTo.active h1, .HowTo.active p {
   animation: fadefrombottom .8s ease;
}

.HowTo.inactive h1, .HowTo.inactive p {
   animation: fadefrombottom .8s ease;
   animation-direction: reverse;
}

.button {
   position: fixed;
   padding: 8px;
   border-radius: 2px;
   background-image: url('img/tile.png');
   background-size: 220px;
   /*background-color: #f8b71b;*/
   /*background-color: #633A17;*/
   background-color: #5A3120;
   border: 2px solid rgba(0, 0, 0, .3);
   /*color: #111;*/
   color: #f8b71b;
   font-family: 'OpenSansBold';
   font-size: 1em;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, .6);
   cursor: pointer;
   text-decoration: none;
   text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
   overflow: hidden;
   text-align: center;
   outline: none;
   animation: fadefrombottom 1s ease;
   /* Safari */
   -webkit-transition: .2s ease;
   transition: .2s ease;
}

.button:hover {
   transform: translateY(2px);
   color: #f8d74b;
   /* Safari */
   -webkit-transition: .2s ease;
   transition: .2s ease;
}

.button:active {
   transform: scale(0.9);
   /* Safari */
   -webkit-transition: .2s ease;
   transition: .2s ease;
}

.button.howto {
   left: 15px;
   bottom: 15px;
}

.button.credits {
   right: 15px;
   bottom: 15px;
}

.button.credits.hidden {
   display: none;
}

.button.closeHowTo {
   right: 50px;
   top: -6px;
   padding: 12px;
   padding-top: 15px;
   animation: fadefromtop 1s ease;
   text-transform: uppercase;
}

.button.HowTo {
   max-height: 22px;
   max-width: 20px;
   top: 50%;
   padding: 15px;
   box-shadow: 0px 2px 8px rgba(0, 0, 0, .3);
   text-transform: none;
}

 .button.HowTo a {
   color: #f8b71b;
 }

.button.HowTo:hover {
   box-shadow: 0px 2px 15px rgba(0, 0, 0, .1);
   /* Safari */
   -webkit-transition: .2s ease;
   transition: .2s ease;
}

.button.HowTo.next {
   right: -15px;
   padding: 10px;
   padding-right: 25px;
   animation: fadefromright 1s ease;
}

.button.HowTo.next:active {
   transform: translateX(10px);
   /* Safari */
   -webkit-transition: .2s ease;
   transition: .2s ease;
}

.button.HowTo.prev {
   left: -15px;
   padding: 10px;
   padding-left: 25px;
   animation: fadefromleft 1s ease;
}

.button.HowTo.prev:active {
   transform: translateX(-10px);
   /* Safari */
   -webkit-transition: .2s ease;
   transition: .2s ease;
}

/*RemainingBombs and rematch icon*/

h2#RemainingBombs {
  position: fixed;
  text-align: center;
  background-image: url('img/remaining_bomb.png');
  background-repeat: no-repeat;
  margin: 10px;
  top: 0;
  right: 0px;
  width: 15px;
  height: 20px;
  margin-top: 5px;
  padding: 45px 40px;
  padding-right: 50px;
  font-size: 1.1em;
}

h2#rematch {
  position: fixed;
  text-align: center;
  background-image: url('img/rematch.png');
  background-repeat: no-repeat;
  margin: 10px;
  top: 0;
  right: 0px;
  width: 15px;
  height: 20px;
  margin-top: 5px;
  padding: 45px 40px;
  padding-right: 50px;
  transition: opacity .1s ease-in;
}

h2.visible {
  display: block;
  animation: fadefromright .5s;
}

h2.hidden {
  display: block;
  animation: fadetoright .5s;
}

h2.nodisplay {
  display: none;
}

/* CUSTOM SWEET-ALERT2 */

.swal2-modal {
  border-radius: 3px;
  box-shadow: 0 5px 25px -5px rgba(0,0,0,.7);
}

.swal2-modal .swal2-title, .swal2-modal .swal2-content {
  color: #fff;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  font-family: 'OpenSans';
}

.swal2-modal .swal2-title {
  color: #f8b71b;
}

.swal2-modal .swal2-content {
  margin-bottom: 15px;
}

.swal2-modal .swal2-styled {
  color: #111;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .6);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  background-image: url('img/tile_light.png');
}
